CALDAV_PASSWORD=***dhbw-password***
CALDAV_URL=*** CalDav Url like: https://owncloud.dhbw-stuttgart.de/remote.php/dav/calendars/... ***
CALDAV_USER=***dhbw-email***
DATE_END=***semester start date***
DATE_START=***semester end date***
RAPLA_KEY=***key in rapla url***
RAPLA_URL=***Rapla URL like: https://rapla.dhbw-stuttgart.de/rapla***
IGNORE_LIST=Klausurwoche;Wahl- und Zusatzfächer;...
SENDGRID_ENABLE=1
SENDGRID_API_KEY=*****secret api key******
SENDGRID_SENDER_MAIL=sender@example.org
SENDGRID_RECIPIENTS=recipient1@example.org;recipient2@example.org